body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzuwYYnp9RleeKpi3Z0wy_GVIVwNfe5_WSaDCOPU0QZw&s=10");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;


    text-align: center;
    font-family: Arial, sans-serif;
    
}

h1 {

    margin-bottom: 20px;
    color: blueviolet;
}

p {
    margin: 15px;
}

input {
    display: block;
    margin: 10px auto;
}


button {
    display: block;
    margin: 10px auto;
    background-color: rgb(235, 135, 148); 
}

.game-box {
    width: 450px;
    margin: 200px auto;
    padding: 30px;
    background: white;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}